<launch>
  <!-- Launch file for velodyne16 VLP-16 LiDAR -->

    <arg name="rviz" default="true" />


    <node pkg="my_practice" type="my_practice" name="my_practice" output="screen" /> 

    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find my_practice)/rviz_config/imu_practice.rviz" />
    </group>

</launch>
